@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Black+Ops+One:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Redacted+Script:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --media-qeries-device-width: 1440px;
  --media-qeries-isdesktop: initial;
  --media-qeries-ismobile: none;
  --media-qeries-istablet: none;
  --media-qeries-mobile: 390px;
  --media-qeries-tables: 750px;
  --theme-black: rgba(0, 0, 0, 1);
  --theme-dark-grey: rgba(51, 51, 51, 1);
  --theme-grey-100: rgba(246, 246, 246, 1);
  --theme-grey-200: rgba(229, 229, 229, 1);
  --theme-light-grey: rgba(133, 133, 133, 1);
  --theme-slider: 1000px;
  --theme-white: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}

.section {
 @apply grid place-items-center;
}

h1 {
  @apply text-2xl font-bold;
}
p {
  @apply mt-1.5 text-sm;
}

.clip-hidden {
  clip-path: ellipse(0 0 at 0% 0%);
  opacity: 0;
}
.clip-visible {
  clip-path: ellipse(1750px 1750px at 0% 0%);
}

#back,
#forward {
  @apply  absolute  z-[5] -translate-y-2/4 text-black hover:scale-125 cursor-pointer duration-[0.4s] ease-out px-0 py-2.5 border-0 top-2/4;
}

.content {
  @apply text-[aliceblue] absolute w-full z-[5] text-center backdrop-blur-[2px] duration-[1s] px-0 py-[15px] left-0 bottom-0;
  background: #ffffff22;
}